header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.my-navbar {
  background-color: rgba($secondary, 0.5);
}

.my-navbar-brand:focus-visible {
  outline: 0;
  box-shadow: $focus-ring-box-shadow;
}