@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "./animations";
@import "./footer";
@import "./header";
@import "./home";
@import "./services";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.my-btn-secondary {
  @include button-variant(
    $background: $secondary,
    $border: $secondary,
    $color: $primary,
    $hover-color: $primary,
    $active-color: $primary,
    $disabled-color: $primary
  );
}