@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "./animations";
@import "./temoignages";
@import "./footer";
@import "./header";
@import "./home";
@import "./services";
@import "./contact";
@import "./equipe";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.my-card {
  --bs-card-bg: none;
  --bs-card-title-color: #{$dark};
  --bs-card-color: #{$dark};
  --bs-card-border-color: #{$dark};
  --bs-card-cap-bg: none;
  --bs-card-cap-padding-y: var(--bs-card-spacer-y);
  --bs-card-height: 100%;
}

.my-btn-secondary {
  @include button-variant(
    $background: $secondary,
    $border: $secondary,
    $color: $primary,
    $hover-color: $primary,
    $active-color: $primary,
    $disabled-color: $primary
  );
}